img{
    display: block;
    border: 3px solid aqua;
    padding: 10px;
    margin: auto;
    max-width: 200px;
}
main{
    text-align: justify;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
main h1{
    text-align: center;
}
