:root, html{
    --color-0: #ff00ff;
    --color-1: #3A015C;
    --color-2: #32004F;
    --color-3: #220135;
    --color-4: #190028;
    --color-5: #11001C;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}

body{
    background-color: black;
    color: white;
    display: grid;
    grid-template-areas: 'header'
    'main'
    'footer';
    grid-template-rows: 68px auto 40px;
    font-family: Oswald;
}
.modal-content{
    background-color: black;
    color: white;
}
.light-mode{
    background-color: white;
    color: black;
}
header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    padding: 10px;
}
header i.fa-moon{
    padding: 5px;
    color: var(--color-0);
}
header i.fa-sun{
    color: var(--color-0);
}
.game-name{
    font-family: 'Oleo Script Swash Caps', cursive;
}
.game-name::first-letter{
    font-size: 2.5rem;
}
main{
    grid-area: main;
    justify-self: center;
    padding: 10px;
}
#toggle-dark{
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}
.btn{
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 10px;
    display: block;
    margin-top: 15px;
}
footer{
    grid-area: footer;
    align-self: flex-end;
    justify-self: center;
    padding: 10px; 
}
footer span{
    color: var(--color-0);
}
i.fa-heart{
    color: red;
}
