:root, html{
    --color-1: #3A015C;
    --color-2: #32004F;
    --color-3: #220135;
    --color-4: #190028;
    --color-5: #11001C;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}

body{
    background-color: black;
    color: white;
    display: grid;
    grid-template-areas: 'header'
    'main'
    'footer';
    grid-template-rows: 68px auto 40px;
}
body.light-mode{
    background-color: white;
    color: black;
}
header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    padding: 10px;
}
header i.fa-moon{
    padding: 5px;
    color: var(--color-1);
}
header i.fa-sun{
    color: var(--color-1);
}
.game-name{
    font-family: 'Oleo Script Swash Caps', cursive;
}
.game-name::first-letter{
    font-size: 2.5rem;
}
main{
    grid-area: main;
    justify-self: center;
}
footer{
    grid-area: footer;
    align-self: flex-end;
    justify-self: center;
}
i.fa-heart{
    color: red;
}
